---
---

<section class="py-67.5" id="pribeh">
    <div class="max-w-7xl mx-auto text-white p-4">
        <h2 class="font-rockiest font-[1000] text-orange text-[48px] uppercase">Příběh</h2>
        <p class="lg:w-237.5 text-[25px] lg:text-[36px]">V naší lazebně navazujeme na původní řemeslo péče o vzhled, ale podáváme ho v moderní podobě. 
Každý střih bereme jako prostor, kde může vyniknout tvoje osobnost. Proto u nás najdeš kombinaci precizního poctivého řemesla, současných technik a individuálního přístupu.</p>
    </div>

</section>