---
---

<section class="py-[270px]">
    <div class="max-w-[1280px] mx-auto text-white">
        <h1 class="font-rockiest font-[1000] text-orange text-[48px] uppercase">Příběh</h1>
        <p class="lg:w-[950px] text-[36px]">V naší lazebně navazujeme na původní řemeslo péče o vzhled, ale podáváme ho v moderní podobě. 
Každý střih bereme jako prostor, kde může vyniknout tvoje osobnost. Proto u nás najdeš kombinaci precizního poctivého řemesla, současných technik a individuálního přístupu.</p>
    </div>

</section>