---
import Card from './UI/Card.astro';
import locationIcon from '../assets/LocationMarkerOutline.svg';
import openingHoursIcon from '../assets/ClockOutline.svg';
import contactIcon from '../assets/PhoneOutline.svg';
import { Image } from 'astro:assets';
import mapIcon from '../assets/google maps.svg';

---

<section class="pb-67" id="kontakt">
    <div class="max-w-331 mx-auto mt-24 p-4">
        <div class="flex flex-col lg:flex-row lg:justify-around items-center gap-4 lg:py-[114px]">
            <Card 
            title="Adresa" 
            cardIcon={locationIcon}>
               <p>
                   Palackého třída 13
                   612 00 Brno-Královo Pole
               </p>
               <a class="text-xs text-center" href="https://www.google.com/maps/place/Lazebna/@49.2206821,16.5964597,17z/data=!3m1!4b1!4m6!3m5!1s0x471295003fd9ed63:0xba8d1b4fdb15bf7e!8m2!3d49.2206821!4d16.5964597!16s%2Fg%2F11xkldd4ml?entry=ttu&g_ep=EgoyMDI2MDEwNy4wIKXMDSoKLDEwMDc5MjA3MUgBUAM%3D">
                   <Image 
                    src={mapIcon} 
                    alt="Location Icon"
                    width={77}
                    height={77}
                   />
                   open map
               </a>
            </Card>
            <Card 
            title="Otevírací doba" 
            cardIcon={openingHoursIcon}>
               <p>
                Pondělí - Pátek:<br/>
                Sobota:
               </p>
               <p>
                8:00 - 19:00<br/>
                9:00 - 19:00
               </p>
            </Card>
            <Card 
            title="Kontakt" 
            cardIcon={contactIcon}>
               <p>
                +420 724 704 471<br/>
                barbershop@lazebna.com
               </p>
            </Card>
        </div>
    </div>
</section>