---
import FaqItem from '../components/UI/FaqItem.astro';

const faqs = [
  {
    q: `Potřebuji rezervaci nebo mohu přijít kdykoliv?`,
    a: `Abychom vám mohli poskytnout nejlepší péči, je potřeba rezervace. 
    Stačí pár kliků a my se postaráme o perfektní střih.`
  },
  {
    q: `Lze platit kartou?`,
    a: `Momentálně přijímáme platby hotově nebo přes QR kód. 
    Kartou zatím platit nelze.`
  },
  {
    q: `Jsou v okolí dostupná parkovací místa?`,
    a: `Parkování v okolí je možné v modrých zónách C. 
    Parkování je placené, ale pohodlně dostupné kousek od shopu.`
  },
  {
    q: `Děláte dětské střihy?`,
    a: `Ano, dětské střihy nabízíme od 10 let. 
    Doporučujeme, aby děti přišly s doprovodem a s rezervovaným termínem.`
  },
  {
    q: `Je mytí vlasů součástí ceny?`,
    a: `Ano, mytí vlasů je vždy součástí ceny. 
    Vždy zajistí čistý a připravený střih.`
  }
];
---

<section class="pb-100" id="info">
  <div class="max-w-7xl mx-auto p-4">
    
      <h2 class="font-rokiest font-[1000] text-orange text-[48px] uppercase text-center">Nejčastější otázky</h2>
    
    <div>
      {faqs.map(faq => (
        <FaqItem question={faq.q} answer={faq.a} />
      ))}
    </div>
    
  </div>
</section>