---
import heroImage from '../assets/Hero image extreme crop.svg';
import heroImageCroped from '../assets/Hero image extreme crop.jpg';
import { Image } from "astro:assets";
import Button from './UI/Button.astro';
---

<section class="mt-[180px]">
    <main>
        <h1 class="lg:text-[70px] text-[40px] text-white font-rokiest font-[1000] uppercase text-center lg:mb-[-30px]">Moderní zážitek<br />
Poctivé řemeslo</h1>
            <div class="lg:hidden my-10 mx-auto w-max">
                <Button href="https://lazebna.reservio.com/" title="BOOK NOW" />
            </div>
        <Image 
            src={heroImage} 
            alt="Hero Image" 
            class="mx-auto hidden md:block w-full h-full object-cover"
        />
        <Image 
            src={heroImageCroped} 
            alt="Hero Image mobile" 
            class="mx-auto block md:hidden w-full h-full object-cover"
        />
</section>