---
import heroImage from '../assets/Hero image extreme crop.svg';
import { Image } from "astro:assets";
---

<section class="mt-[180px]">
    <main>
        <h1 class="text-[70px] text-white font-rokiest font-[1000] uppercase text-center mb-[-30px]">Moderní zážitek<br />
Poctivé řemeslo</h1>
        <Image 
            src={heroImage} 
            alt="Hero Image" 
           
            class="mx-auto"
        />
</section>