---
import { Image } from "astro:assets";

const {title, cardIcon} = Astro.props;
---

<div class="flex flex-col justify-between lg:w-[416px] lg:h-[203px] lg:p-[20px] w-[368px] h-[179px] p-[20px] text-white lg:text-[24px] text-lg bg-white/5 border border-white/10 rounded-xl shadow-[2px_4px_4px_rgba(63,63,63,0.32)] hover:shadow-[0px_4.68px_5.68px_rgba(233,82,14,0.7)] transition-shadow duration-300 ease-in-out">
    <div class="flex items-center gap-[10px]">
        <Image 
            src={cardIcon} 
            alt="Card Icon Image"
            width={24}
            height={24}
        /> 
        <p>{title}</p> 
    </div>
    <div class="flex items-center justify-between ">
        <slot/>
    </div>
</div>